html {
    /* Hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.new-color {
    background-color: #020081;
}
.m-l-3 {
    margin-left: 3px;
}
.m-t-2 {
    margin-top: 2px!important;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display:flex;
    flex-wrap:wrap;
}
.header {
    background-color: #004644;
    /* background-image: linear-gradient(0, #004644,#004644); */
    height:var(--header-height);
    font-size: 1.6rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
}
.navbar__list {
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    margin: 8px  0;   
    display: flex; 
    align-items: center;
}
.navbar__list-item {
    padding: 0 5px;
    position: relative;
    display: flex;
}
.navbar__item-user {
    display: flex;
    justify-items: center;
    position: relative;
}
.navbar__item-user:hover  .navbar-user-menu {
    display: block;
}
.navbar-user-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2px;
}
.navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 144%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(218, 216, 216);
    display: none;
    animation: FadeIn ease .4s;
}
.navbar-user-menu::before{
    content: "";
    position: absolute;
    border-width: 18px 28px;
    top: -26px;
    right: 4px;
    border-style:solid ;
    z-index: -1;
    border-color:  transparent transparent var(--white-color) transparent ;
}
.navbar-user-menu::after{
    content: "";
    position: absolute;
    width: 88%;
    height: 16px;
    left: 0;
    top: -8px;
    display: block;
    margin-left: 20px;
}

.navbar-user-menu-item--separate {
    border-top:1px solid rgba(0, 0, 0, 0.05) ;
}
.navbar-user-menu-item a {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.9;
    display: block;
}
.navbar-user-menu-item:hover {
    background-color: rgb(228, 228, 228);
}
.navbar-user-menu-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.navbar-user-menu-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.navbar__list-item,
.navbar__list-item-link {
    display: inline-flex;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}
.navbar__list-icon {
    padding: 0 2px;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
    
}
.navbar__list-item-link--seperate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 2px solid #03706d;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list-item:hover,
.navbar__list-item-link:hover,
.navbar__list-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.navbar__list-item-link--no-pointer {
    cursor: text;
    color: var(--white-color);
}
.navbar__list-item-has-QR:hover .header__qr,
.navbar__list-item:hover .header__notify {
    display: block;
    z-index: 2;
}

/* Headere QR code  */
.header__qr {
    width: 196px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 4px;
    margin: 5px 5px 0 5px;
    display: none;
    animation: FadeIn ease .4s;
}
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
}
.header__qr-img {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__qr-link:nth-child(1) {
        margin-left: -12px;
}
.header__qr-link:nth-child(2) {
        margin-right: 10px;
}
.header__qr-link:nth-child(3) {
        margin-left: 24px;
}
.header__qr-download-img {
    height: 16px;
    margin: 0 1px;
}
    /* Header Notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}
.header__notify::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
}

.header__notify::after{
    content: "";
    position: absolute;
    border-width: 20px 28px;
    top: -28px;
    right: 0;
    border-style:solid ;
    border-color:  transparent transparent var(--white-color) transparent ;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
    cursor: default ;
}

.header__notify-header h3 {
    color: #999;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item {
    background-color: rgba( 245, 61, 45, 0.09);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img {
    width: 56px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.7rem;
}

.header__notify-decs {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #636161;
}
.header__notify-footer {
    display: flex;
    padding: 10px;
    right: 0;
    left: 0;
}

.header__notify-footer-btn {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:#000;
    opacity: 0.7;
}

        /* Authen modal  */
.auth-form {
    min-width: 500px;
    max-width: 520px;
    background-color:#fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 28%;
}
.auth-form-container {
    padding: 20px 32px 0;
}

.auth-form-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.auth-form-heading {
    font-size: 2.2rem;
    font-weight: 400;
    color:var(--text-color);
}
.auth-form-switch-btn {
    font-size:1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;    
}
.auth-form__list-input {
    margin-top: 20px;
}
.auth-form-group {
    padding: 6px 0;
}
.auth-form-input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 8px;
}
.auth-form-aside {
    margin-top: 1rem; 
}
.auth-form-policy-text {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6rem;
}
.auth-form-policy-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form-controls {
    margin-top:80px;
    display:flex;
    justify-content: flex-end;
}
.auth-form-controls-back {
    margin-right: 8px;
    background-color: var(--white-color);
    font-weight:400;
}
.auth-form-controls-login:hover {
    opacity: 0.8;
}
.auth-form-socials {
    background-color: #ede8e8;
    padding: 14px 24px;
    display:flex;
    justify-content:space-between;
    margin-top: 22px;
}
.auth-form-socials-icon{
    font-size: 1.8rem;
}
.auth-form-controls--facebook {
    background-color:#3A5A98;
    color:var(--white-color);
}
.auth-form-controls--google {
    background-color:  #f5f5f5;
    color: var(--text-color);
    padding: 4px;
    font-weight: 500;
}
.auth-form-socials-title {
    margin: 0 24px;
}
.auth-form-controls--facebook:hover,
.auth-form-controls--google:hover {
    opacity: 0.6;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 16px;
    margin: -1px 16px 0 30px ;
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forget {
    color: var(--primary-color);
}
.auth-form__help-link:hover{
    opacity: 0.8;
}
/* Header with search  */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding-top: 16px;
}
.header__logo {
    width: 200px;
    padding-left:  36px; 
}
.header__logo-link {
    color: transparent;
    text-decoration: none;
}
.header__logo a{
    width: 200px;
    padding-right: 4.8rem;
    padding-bottom: 1.6rem;
    padding-top: 3rem;
}

.header__logo-img {
    height: 70px;
    width: 100px;
    color: var(--white-color);
}
.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__cart {
    width: 150px;
    text-align: center;
    margin-top: 8px;
}
.header__cart-link {
    text-decoration: none;
}
.header__cart-icon {
    font-size: 3rem;
    color: var(--white-color);
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 8px 12px 0;
    cursor: pointer;
    margin-bottom: 12px;
}
.header__cart-wrap:hover  .header__cart-list{
    display: block;
}   
.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    cursor: default;
    animation: FadeIn ease .4s;
    
}
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 2px;
    top: -24px;
    border-width: 16px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 50px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img {
    width: 28%;
    display: none;
}
.header__cart-no-cart-title {
    padding: 24px 0;
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__cart-number-product  {
    position: absolute;
    left: -2px;
    margin-top: -5px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #017c83;
    font-weight: 500;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 4px;
    width: 100%;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* search history  */
.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px rgb(218, 216, 216);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    display: none;
    z-index: 1;
}
.header__search-history-heading {
    margin: 12px;
    opacity: 0.4;
}
.header__search-history-list {
    list-style: none;
    padding-bottom: 0;
}
.header__search-history-list-item {
    width: 100%;
    height: 38px;
    padding: 0;
}
.header__search-history-list-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-list-item a {
    width: 100%;
    line-height: 38px;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 12px;
    color: var(--text-color);
}

.header__search-select {
    border-left: 1px solid rgb(190, 189, 189);
    padding-left: 16px;
    position: relative;
    cursor: default;
    z-index: 1;
}
.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-select::after {
    content: "";
    width: 136px;
    height: 20px;
    bottom: -20px;
    left: -12px;
    position: absolute;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #8b8b8b;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn {
    border: none;
    background-color: #004644;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    padding: 8px 0;
}
.header__search-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}
.header__search-btn-icon {
    color: #fff;
    font-size: 1.6rem;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: 200%;
    width: 136px;
    list-style: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(190, 190, 190);
    display: none;
}
.header__search-option-item {
    background-color: #fff;
    padding: 8px 8px;
    outline: none;
}
.header__search-option-item:hover {
    background-color: rgb(238, 231, 231);
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 8px;
    
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 55vh;
    overflow-y: auto;
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    
}
.header__cart-item-info {
    width: 100%;

}
.header__cart-item-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 12px 12px 0;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 4rem;
    max-width: 200px;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    color: var(--text-color);
}
.header__cart-item-price-wrap {
    font-size: 1.4rem;
    font-weight: 500;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    
}
.header__cart-item-multiphy {
    font-size: 1.2rem;
    color: #888;
}
.header__cart-item-qnt {
    font-size: 1.3rem;
    color: #888;
    margin-right: 8px;
}
.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-delete {
    margin-right: 8px;
    font-size: 1.3rem;
    color: var(--text-color);
}
.header__cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart {
    float: right;
    margin: 12px 8px 10px 0;
}
.header__cart-view-cart:hover {
    background-color: #05948f;
}

/* Nav- menu  */

.nav-menu {
    width: 100%;
    background-color: #252525;
    height: 46px;
    position: relative;
}
.nav-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 46px;
}
.nav-menu-item {
    list-style: none;
    font-size: 1.5rem;
}
.nav-menu-item-icon {
    color: #fff;
    font-size: 1.8rem;
}
.nav-menu-item-link {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 0;
}
.nav-menu-item-link:hover {
    opacity: 0.8;
}
.nav-menu-item:hover .nav-menu-item-sub-wrapper {
    height: 270px;
}
/* nav menu sub  */
.nav-menu-item-sub--laptop {
    margin-left: -126px;
}
.nav-menu-item-sub--apple{
    margin-left: -240px;
}
.nav-menu-item-sub--accessory {
    margin-left: -606px;
}
.nav-menu-item-sub-wrapper {
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    margin-top: 1px;
    display:none;
}
.nav-menu-item-sub {
    background-color: #fff;
    display: flex;
    position: relative;
}
.nav-menu-first-sub {
    padding-left: 20px;
    max-width: 396px;
    border-right: 1px solid #ccc ;
    padding-bottom: 13px;
}
.menu-sub-list {
    display: flex;
    flex-wrap: wrap;
}
.menu-sub-heading {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 40px;
    color: #3d3d3d;
}
.menu-sub-item {
    list-style: none;
    width: 33%;
    line-height: 30px;
    font-size: 1.3rem;
}


.menu-sub-item:hover  .menu-sub-item-link {
    color:#004644;
    font-weight: bold;
}
.menu-sub-item-link  {
    text-decoration: none;
    color: #3d3d3d;
}
.nav-menu-second-sub {
    padding-left:12px;
    width: 180px;
    border-right: 1px solid #ccc ;
}
.menu-sub-list-price {
    list-style: none;
    line-height: 30px;
    font-size: 1.4rem;
}
.menu-sub-item-price a {
    text-decoration: none;
    color: #3d3d3d;
}
.menu-sub-item-price a:hover {
    color: #000;
}
.nav-menu-last-sub {
    display: flex;
    padding-left: 12px;
    padding-right: 10px;
}
.nav-menu-sub-selling {
    width: 260px;
}
.menu-sub-product1 {
    height: 80px;
    display: flex;
    margin-bottom: 20px;
}
.menu-sub-product1-info {
    display: block;
    padding-left: 12px!important;
    line-height: 24px;
    font-size: 1.4rem;
}
.menu-sub-product1-img {

    width: 80px;
    height: 80px;
}
.menu-sub-product1-price {
    color: #d0021b;
    font-weight: 600;
}
.menu-sub-product2 {
    height: 80px;
    display: flex   ;
}
.menu-sub-product2-info {
    display: block;
    padding-left: 12px!important;
    line-height: 24px;
    font-size: 1.4rem;
}
.menu-sub-product2-img {
    width: 80px;
    height: 80px;
}
.menu-sub-product2-price {
    color: #d0021b;
    font-weight: 600;
}
.nav-menu-sub-advertise {
    flex: 1;
    display: flex;
    margin: auto;
    padding-left: 80px;
}
.head-container {
    width: 100%;
}
.header-product {
    width: 100%;
    border-bottom: 1px solid #ccc ;
    margin:  0  14px;
    padding-top: 5px;
}
.Breadcrumb-list {
    list-style: none;
    display: flex;
}
.Breadcrumb-item {
    padding: 8px 0;
    
}
.Breadcrumb-item:nth-child(2)::before,
.Breadcrumb-item:nth-child(3)::before {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: #ccc;
    font-size: 18px;
    content: '/';
}
.Breadcrumb-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #0664f9;
}
.top-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-product-left {
    display: flex;
}
.top-product-name {
    font-size: 2.4rem;
    font-weight: 500;
}
.top-product-sku {
    display: flex;
    margin: auto;
    color: #99a2aa;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 8px;
}
.top-product-right {
    padding-top: 16px;
}
.product-rating-fill {
    font-size: 14px;
    color: #ea9d02;
}
.product-rating-no-fill {
    font-size: 14px;
    color: #99a2aa;
    padding-right: 5px;
}
.product-rating-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #0168fa;
}
.product-response-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #0168fa;
}
.product-response-link::before {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
    color: #ccc;
    font-size: 18px;
    content: '|';
}

/* Content Product */
.content-product {
    display: flex;
    padding-bottom: 28px;
}
.content-product-left {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}
.content-product-img-main {
    width: 585px;
}
.content-product-list-feature {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.content-product-link-feature {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-decoration: none;
    color: #495057;
}
.content-product-link-feature:hover {
    color: #0168fa;
}
.content-product-link-feature-icon {
    font-size: 50px;
    text-align: center;
    color: #7a7b7c;
    padding: 8px 0;
}
.content-product-specifications {
    width: 585px;
    background-color: #f8f9fa;
    display: block;
    border: 1px solid #e9ecef;
    margin-top: 15px;
}
.product-specifications-list {
    list-style: none;
    padding: 20px 20px 10px;
}
.product-specifications-item {
    line-height: 1.8;
}
.product-specifications-item-icon {
    font-size: 20px;
    width: 15px;
    color: #495057;
}
.product-specifications-item-info {
    font-size: 1.6rem;
    padding-left: 20px;
    color: #495057;
}
.product-specifications-item-link {
    font-size: 1.4rem;
    padding-top: 8px;
    color: #0168fa;
    text-decoration: none;
}
.content-product-policy {
    display: flex;
    margin-top: 15px;
}
.content-product-policy-item {
    padding-right: 28px;
}
.content-product-policy-item-icon {
    color: #cb1c22;
    font-size: 18px;
}
.content-product-policy-item-info {
    font-size: 1.4rem;
    color: #444b52;
    padding-left: 4px;
}


.content-product-right {
    padding-top: 30px;
    width: 585px;
    height: 100%;
    margin-left: 20px;
}
.content-product-price-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content-product-price-left {
    display: flex;
    width: 100%;
}
.content-product-price-left-main {
    font-size: 3.2rem;
    color:#cb1c22;
    font-weight: 500;
    padding-right: 10px;
}
.content-product-price-left-sub {
    color: #99a2aa;
    text-decoration: line-through;
    font-size: 2rem;
    line-height: 28px;
}
.content-product-price-right {
    width: 100%;
    flex: 1;
    color: #555555;
    font-size: 1.4rem;
    text-align: right;
    line-height: 1.4;
    margin-top: -12px;
}
.content-product-select {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
}
.content-product-select-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4px;
    width: 100%;
    background-color: #f8f9fa;
    text-decoration: none;
    padding: 10px;
    position: relative;
    
   
} 

.content-product-select-item:hover {
    background-color: #edeeef;
}
.radio {
    justify-content: center;
}
.content-product-select-item label {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.mask {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color:currentColor;
    transition: 0.5s;
}

.content-product-select-item1-input {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.content-product-select-item1-feature {
    display: flex;
    justify-content: center;
    line-height: 1.6;
}
.content-product-select-item1-label {
    font-size: 1.4rem;
    font-weight: 500;
    color: #444b52;
    text-decoration: none;
    padding-left: 5px;
    margin-top: -3px;
}
.content-product-select-item1-info {
    text-align: center;
}
.content-product-select-item1-price {
    font-size: 1.4rem;
    color: #444b52;
    text-decoration: none;
}
    
.content-product-select-color {
    display: flex;
    width: 100%;
    padding: 10px;
}
.content-product-select-color-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}
.content-product-select-color-item:hover {
    border: 1px solid red;
    border-radius: 5px;
}
.content-product-select-color-img {
    width: 50px;
    height: 50px;
    
}
.content-product-select-color-title {
    padding-top: 5px;
    font-size: 1.4rem;
    text-align: center;
    color: #495057;
}
.content-product-promo {
    width: 100%;
    background-color: #f8f9fa;
    border:1px solid #ccc ;
    border-radius: 2px;
}
.content-product-promo-title {
    color: #212529;
    font-size: 1.3rem;
    font-weight: 500;
    height: 36px;
    border-bottom:1px solid #ccc ;
}
.content-product-promo-title span {
    line-height: 36px;
    padding-left: 12px;
}
.content-product-promo-list {
    list-style: none;
    padding-left: 12px;
    border-bottom: 1px solid #ccc;
}
.content-product-promo-item {
    padding-top: 8px;
    display: flex;
}
.content-product-promo-item-input {
    width: 14px;
    height: 14px;
}
.content-product-promo-info {
    font-size: 1.3rem;
    color: #444b52;
    margin-left: 5px;
    padding: 4px 0;
    margin-top: -4px;
}
.content-product-promo-more {
    width: 100%;
}
.content-product-promo-more span {
    display: inline-block;
    color: #212529;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 8px;
    background-color: #e9ecef;
    border-bottom-right-radius: 4px;
}
.content-product-promo-more-list {
    list-style: none;
    padding-left: 12px;
}
.content-product-promo-more-item {
    line-height: 1.6rem;
}
.content-product-promo-more-icon {
    font-size: 14px;
    color: #48bb78;
}
.content-product-promo-more-info {
    font-size: 1.3rem;
    color: #444b52;
    line-height:2.4rem;
    padding-left: 4px;
}
.content-product-promo-more-link {
    font-size: 1.3rem;
    color: #0168fa;
    text-decoration: none;
    padding-left: 2px;
}
.content-product-btn-buy {
    width: 100%;
    margin-top: 12px;
}
.content-product-btn-buy button {
    width: 100%;
    height: 58px;
    background-color: #cb1c22;
    border: none;
    border-radius: 5px;
}
.content-product-btn-buy button:hover {
    background-color: #ae1427;
    cursor: pointer;
}
.content-product-btn-buy div:nth-child(1) {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 400;
}
.content-product-btn-buy div:nth-child(2) {
    font-size: 1.2rem;
    color: var(--white-color);
}
.content-product-btn-installment {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.content-product-btn-installment-left {
    width: 290px;
    height: 58px;
    background-color: #0664f9;
    border-radius: 5px;
}
.content-product-btn-installment-right {
    width: 290px;
    height: 58px;
    background-color: #0664f9;
    border-radius: 5px;
}
.content-product-btn-installment-right:hover {
    background-color:  #0050d7;
    cursor: pointer;
}
.content-product-btn-installment-left:hover {
    background-color:  #0050d7;
    cursor: pointer;
}
.content-product-btn-installment-right div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-product-btn-installment-left div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-product-btn-installment-left div:nth-child(1) {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 400;
    padding-top: 15px;
}
.content-product-btn-installment-left div:nth-child(2) {
    font-size: 1.2rem;
    color: var(--white-color);
    text-align: center;
}
.content-product-btn-installment-right div:nth-child(1) {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 400;
    padding-top: 15px;
}
.content-product-btn-installment-right div:nth-child(2) {
    font-size: 1.2rem;
    color: var(--white-color);
}
.content-product-help {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.content-product-help-hotline-label {
    font-size: 1.4rem;
    color: #444b52;
}
.content-product-help-hotline-link {
    color: #cb1c22;
    text-decoration: none;
    font-weight: 500;
}
.content-product-help-store-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #0168fa;
}
.line-break-content-product {
    border-bottom:1px solid red ;
}

/* Body container  */
.body-conntainer {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    background-color: #f8f9fa;
    
}
.decription-product-left {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgb(218, 214, 214);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
}
.decription-product-heading {
    font-size: 2rem;
    color: #212529;
    font-weight: 500;
    padding: 16px;
}
.slider-wrapper {
    width: 100%;
}
.slider {
    width: 665px;
    height: 500px;
    overflow: hidden;
    display: flex;
    margin: auto;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 665px;
    height: 443px;
}
    /* CSS for manual slide navigation  */
.navigation-manual {
    position: absolute;
    width:665px;
    margin-top: 448px;
    display: flex;
    justify-content: center;   
}
.manual-btn {
    border: 1px solid #fff;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 5px;
}.manual-btn:hover {
    background-color: #ccc;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
#radio5:checked ~ .first {
    margin-left: -80%;
}
    /* CSS for automatic navigation  */
.navigation-auto {
    width: 665px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 448px;
}
.navigation-auto div {
    background-color: #ccc;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 5px;
 }
 #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: red;
 }
 #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: red;
 }
 #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: red;
 }
 #radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: red;
 }
 #radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: red;
 }
 .decription-product-content-title {
     font-size: 2rem;
     color: #212529;
     font-weight: 500;
     text-align: center;
     margin-top: -20px;
 }
 .decription-product-content-link {
    text-decoration: none;
    color: #0168fa;
    font-size: 1.6rem;
 }
 .decription-product-content-info-main {
    font-size: 1.6rem;
    color: #495057;
    font-weight: 500;
    text-align: justify;
    margin: 12px;
    line-height: 1.4;
 }
 .decription-product-content-link:hover {
    color: #000!important;
    font-weight: 500;
 }
 .decription-product-content-img {
     width: 665px;
     height: 443px;
    display: flex;
    margin: auto;
    border-radius: 4px;
 }
 .decription-product-content-img:last-child {
     margin-bottom: 15px;
 }
.decription-product-content-title-info {
    font-size: 1.6rem;
    color: #212529;
    font-weight: 500;
    margin: 16px 12px 12px;
}
.decription-product-content-info {
    font-size: 1.5rem;
    color: #495057;
    text-align: justify;
    margin: 12px;
    line-height: 1.4;

}
.decription-product-right {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    
}
.decription-product-detail-wrapper {
    padding: 12px 12px 5px;
    background-color: #fff;
    border: 1px solid rgb(218, 214, 214);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
}
.decription-product-detail {
    width: 100%;
    height: 100%;
}
.decription-product-detail-title {
    font-size: 2rem;
    color: #212529;
    font-weight: 500;
    padding: 16px 12px  16px 16px;
}
table {
    font-size: 1.4rem;
    color: #444b52;
    
}
table, th, td {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    padding-left: 10px;
  }
.decription-product-detail-content {
    display: flex;
    justify-content: center;
}
.decription-product-detail-more-link {
    padding: 12px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #0168fa;
    text-decoration: none;
}
.decription-product-detail-more-icon {
    font-size: 1.6rem;
    padding-left: 8px;
}
.decription-product-news-wrapper {
    margin-top: 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid rgb(218, 214, 214);
    
}
.decription-product-news {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
.decription-product-news-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}
.decription-product-news-header {
    font-size: 2rem;
    color: #444b52;
    font-weight: 500;
}
.decription-product-news-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #0168fa;
}
.decription-product-news-item {
    padding: 0 20px 16px;
    display: flex;
    justify-content: space-between;
}

.decription-product-news-item-img {
    width: 106px;
    height: 58px;
    border-radius: 4px;
}
.decription-product-news-item-info {
    padding-left: 15px;
}
.decription-product-news-item-info-title {
    font-size: 1.4rem;
    color: #495057;
    text-decoration: none;
}
.decription-product-news-item-info-title:hover {
    color: #0168fa;
}
.decription-product-news-item-tag,
.product-advise-content-item-tag {
    display: flex;
    margin-left: -8px;
}
.decription-product-news-item-tag-link,
.product-advise-content-item-tag-link {
    color: #6c757d;
    text-decoration: none;
    padding: 4px;
    background-color: #f8f9fa;
    margin-left: 8px;
    font-size: 1.3rem;
    border-radius: 4px;
}
.decription-product-news-item-tag-link:hover,
.product-advise-content-item-tag-link:hover {
    background-color: #dee2e6;
}
.product-advise-wrapper {
    background-color: #fff;
    border-radius: 4px;
    margin: 30px 10px 0 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid rgb(218, 214, 214);
}

.product-advise {
    padding: 16px;
}
.product-advise-head {
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 18px 4px;
}

.product-advise-head-title {
    font-size: 2rem;
    color: #212529;
    font-weight: 500;
}

.product-advise-head-link {
    font-size: 1.8rem;
    color: #0168fa;
    text-decoration: none;
}
.product-advise-head-link:hover {
    opacity: 0.6;
}
.product-advise-content {
    display: flex;
    width: 100%;
}
.product-advise-content-item-img {
    width: 275px;
    height: 183px;
    border-radius: 4px;
}
.product-advise-content-item-info {
    font-size: 1.4rem;
    color: #494949;
    margin: 8px 8px 8px 0px;
    padding: 0 5px 0 0 ;
    line-height: 1.8rem;
    display: block;
    text-align: justify;
    text-decoration: none;
}
.product-advise-content-item-info:hover {
    color: #0168fa;
}
.products-viewed {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 30px 10px 12px 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid rgb(218, 214, 214);
    border-radius: 4px;

}
.products-viewed-head {
    padding: 16px 20px;
    margin-bottom: 0;
    font-size: 2rem;
    text-transform: uppercase;
}

.products-viewed-content {
   display: flex;
   justify-content: space-around;
}
.products-viewed-content-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 12px;
}

.products-viewed-content-img {
    width: 150px;
    height: 150px;
}
.products-viewed-content-info {
    display: flex;
    flex-direction: column;
}
.products-viewed-content-info-name {
    font-size: 1.4rem;
    padding: 6px 0;
    text-decoration: none;
    color: #444b52;
}
.products-viewed-content-info-name:hover {
    color: #0168fa;
}
.products-viewed-content-info-price {
    font-size: 1.3rem;
    color: #cb1c22;
}













































.line-break {
    margin-top: 100px;
    width: 100%;
    height: 3px;
    background-color: #d0011b;
}

.sub-info {
    margin-bottom: 200px;
    margin:auto;
    height: 120px;
    border-top: 2px solid red;
    background-color: #e6e6e6;
}
.sub-info-wrapper {
    display: flex;
    padding: 8px;
    height: 100%;
    margin-top: 30px;
}

.sub-info-img {
    width: 38px;
    height: 38px;
    display: block;
    margin-right: 16px;
}
.sub-info-img-delivery {
    width: 48px;
    height: 38px;
    display: block;
    margin-right: 16px;
    margin-left: 88px;
}
.sub-info-label {
    font-size: 1.4rem;
    margin-top: 8px;
    color: #797979;
}
.space-empty {
background-color: #fff;
border-top: 1px solid #ccc;
}


/* Footer  */
.footer {
    background-color: #fbfbfb;
}
.footer-content {
    padding-top: 32px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 12px;
}
.footer__list {
    padding-left: 0;
    list-style: none;
}
.footer__list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
   margin: 0 0 12px 0;
   display: block;
   color: var(--text-color);
}
.footer__list-item-link:hover {
    color: var(--primary-color);
}
.footer__list-payment {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.footer-payment-visa {
    font-size: 30px;
    margin-right: 30px;
}
.footer-payment-mastercard {
    font-size: 30px;
    margin-right: 30px;
}
.footer-payment-bitcoin {
    font-size: 30px;
    margin-right: 30px;
}
.footer-delivery-usa {
    font-size: 30px;
    margin-right: 30px;
}
.footer-delivery-fedEx {
    font-size: 30px;
    margin-right: 30px;
}
.footer-social-fb {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}
.footer-facebook-img {
    font-size: 20px;
    margin-right: 12px;
}
.footer-social-ins {
    display: flex;
    align-content: center;
}
.footer-instagram-img {
    font-size: 20px;
    margin-right: 12px;
}
.footer-download {
    display: flex;
}
.footer-download__qr-img {
    width: 86px;
    height: 86px;
    margin-right: 20px;
    margin-top: -6px;
    border: 1px solid #ccc;
}
.footer-download-apple-img {
    width: 90px;
    height: 20px;
    margin-bottom: 3px;
}
.footer-download-ggplay-img {
    width: 90px;
    height: 20px;
    margin-bottom: 3px;

}
.footer-download-gallery-img {
    width: 90px;
    height: 20px;
}
.footer-bottom {
    padding: 20px;
    background-color: #f5f5f5;
}
.footer-CopyRight {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}